.list {
  text-align: left;
  max-width: 750px;
  margin: 1pt;
}

.submit-form {
  max-width: 300px;
  margin: 10px;
}

.edit-form {
  max-width: 600px;
  margin: 10px;
}

.container {
    margin-right: 0;
    margin-left: 0;
}

.btn-4em {
    width: 4em;
}

.btn-6em {
    width: 6em;
}

.btn-7em {
    width: 7em;
}

.btn-8em {
    width: 8em;
}

.btn-9em {
    width: 9em;
}

.btn {
    border-radius: 0rem;
    color: white;
 }

.btn-10em {
    width: 10em;
}

.pad1em {
    padding-right: 1em;
    padding-left: 1em;
}

.pad02em {
    padding-right: 0.2em;
    padding-left: 0.2em;
}

.pad01em {
    padding-right: 0.1em;
    padding-left: 0.1em;
}

.margin1px {
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.margin-left-space {
    margin-left: 0.2em;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .5rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    cursor: pointer;
}

.list-group-item-noborder {
    padding: 0em 0em;
    margin: 0em 0em 0em 0em;
}

.label_vacancy {
    margin-bottom: 0.3em;
}
