.list {
  text-align: left;
  max-width: 750px;
  margin: 1pt;
}

.submit-form {
  max-width: 300px;
  margin: 10px;
}

.edit-form {
  max-width: 300px;
  margin: 10px;
}

.container {
    margin-right: 0;
    margin-left: 0;
}

.btn-6em {
    width: 6em;
}

.btn-7em {
    width: 7em;
}